/.quarto/
*/.jupyter_cache
chapters
!docs/chapters
*.DS_Store
*/hidden
source/*_files
*/*.vdoc.pyg
data/.DS_Store
/env/
docs/full-notes
source/*.html
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
scratch/

problem-archive
